<!--
    * 页脚
-->
<footer class="blive-footer">
    <div nz-row>
        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="16" style="text-align: center">
            <nz-badge nzDot><a href="https://cabbagelol.net">杰出贡献</a></nz-badge>
            <nz-divider nzType="vertical"></nz-divider>
            <a href="https://cabbagelol.net">教程</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a href="https://cabbagelol.net">作者博客</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a href="/">捐助</a>
            <nz-divider nzType="vertical"></nz-divider>
            版本 {{appVersion}}
            <nz-divider nzType="vertical"></nz-divider>
            Copyright © 2015 - 2020 Cabbagelol. All Rights Reserved.
        </div>
        <div nz-col nzSpan="4" style="text-align: right;padding-right: 30px">
            <del>下载桌面Blive</del>
        </div>
    </div>
</footer>