<!--
    * 页脚
-->
<footer class="blive-footer">
    <div nz-row style="background-image: linear-gradient(#ffffff00, rgba(0, 0, 0, 0.02));text-shadow:1px 1px 0 #fff, 0px -1px 0 #fff, -1px 1px 0 #fff, 0px -1px 0 #fff, -1px -1px 0 #fff;">
        <div nz-col nzSpan="6" style="text-align: left;padding-left: 35px">
            <nz-badge nzDot><a target="_blank" href="http://hn.cabbagelol.net/blog/halloffame/">杰出贡献</a></nz-badge>
            <nz-divider nzType="vertical"></nz-divider>
            <a target="_blank" href="http://hn.cabbagelol.net/blog/">教程</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a target="_blank" href="https://cabbagelol.net">作者博客</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a target="_blank" href="http://hn.cabbagelol.net/blive_pay_hn/index.html">捐助</a>
        </div>
        <div nz-col nzSpan="12" style="text-align: center">
            版本 {{appVersion}} <a href="https://tieba.baidu.com/p/4510188045" target="_blank">日志</a>
            <nz-divider nzType="vertical"></nz-divider>
            Copyright © 2015 - 2020 Cabbagelol. All Rights Reserved.
        </div>
        <div nz-col nzSpan="6" style="text-align: right;padding-right: 20px">
            <del>下载桌面Blive</del>
        </div>
    </div>
</footer>