<!--
    * 页脚
-->
<footer class="blive-footer">
    <div nz-row style="background-image: linear-gradient(#ffffff00, rgba(0, 0, 0, 0.02));text-shadow:1px 1px 0 #fff, 0px -1px 0 #fff, -1px 1px 0 #fff, 0px -1px 0 #fff, -1px -1px 0 #fff;">
        <div nz-col nzSpan="24" style="text-align: center;">
            版本 {{appVersion}} <a href="https://tieba.baidu.com/p/4510188045" target="_blank">日志</a>
            <nz-divider nzType="vertical"></nz-divider>
            Copyright © 2016 - 2020 Cabbagelol. All Rights Reserved 备案:粤ICP备15107172号-1.
        </div>
        <!--<div nz-col nzSpan="2" style="text-align: right;padding-right: 20px">-->
            <!--&lt;!&ndash;<del>下载桌面Blive</del>&ndash;&gt;-->
        <!--</div>-->
    </div>
</footer>