<!--
    * 模板
    ** 模板商城
-->
<div class="blive-moban-window" (click)="close($event)">
    <div class="blive-moban-window-box">
        <nz-layout style="height: 100%;">
            <nz-header style="color: #fff;text-align: center; background: #1890ff;">
                模板
            </nz-header>
            <nz-layout>
                <nz-sider nzTheme="light">
                    <ul nz-menu nzMode="inline">
                        <li nzTitle="Navigation One" nzIcon="mail" nz-menu-item nzSelected>
                            首页
                        </li>
                        <ul>
                            <li nz-menu-group nzTitle="筛选">
                                <nz-tree
                                    #nzTreeComponent
                                    [nzData]="nodes"
                                    nzCheckable
                                    [nzCheckedKeys]="defaultCheckedKeys"
                                    (nzCheckBoxChange)="nzCheck($event)"
                                >
                                </nz-tree>
                            </li>
                         </ul>
                    </ul>
                </nz-sider>

                <!--S 首页-->
                <nz-content class="blive-moban-window-overflow">
                    <div style="padding: 30px">
                        <div *ngFor="let item of mobanlist">
                            <nz-divider nzDashed [nzText]="text">
                                <ng-template #text>
                                    {{item.name}}
                                    <span class="blive-moban-window-title-h">{{item.h}}</span>
                                </ng-template>
                            </nz-divider>
                            <div *ngFor="let i of item.list" (click)="onSelectTemplate(i)">
                                <nz-card nzHoverable
                                         class="blive-moban-window-card"
                                         [nzCover]="coverTemplate">
                                    <nz-card-meta nzTitle="{{i.name}}"></nz-card-meta>
                                    <nz-tag [nzColor]="'magenta'" *ngIf="i.level == 1" class="blive-moban-window-title-tag">
                                        扩展
                                    </nz-tag>
                                    <nz-tag *ngFor="let f of i.tag" class="blive-moban-window-title-tag">{{f}}</nz-tag>
                                </nz-card>
                                <ng-template #coverTemplate>
                                    <img alt="example" src="{{i.img}}"/>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <nz-divider nzDashed [nzText]="text">
                        <ng-template #text>
                            没有更多了
                            <span class="blive-moban-window-title-h">联系我nickmiku@foxmail.com，将你的作品分享到这里</span>
                        </ng-template>
                    </nz-divider>
                </nz-content>
                <!--E 首页-->
            </nz-layout>
        </nz-layout>
    </div>
</div>

