<nz-card>
    <div nz-row>
        <div nz-col nzMd="16">
            标尺
        </div>
        <div nz-col nzMd="8" style="text-align: right">
            <nz-switch [ngModel]="workbench.ruler.switch" ></nz-switch>
        </div>
    </div>
</nz-card>
<br/>
<nz-card>
    <div nz-row>
        <div nz-col nzMd="16">
            背景贴图
        </div>
        <div nz-col nzMd="8" style="text-align: right">
            <nz-switch [ngModel]="workbench.ruler.switch" ></nz-switch>
        </div>
    </div>
</nz-card>