<!--  S 工作台-->
<div class="blive-workbench">
    <blive-staffgauge [data]="data"></blive-staffgauge>

    <div id="blive-workbench" class="blive-workbench-box">
        <!--<div style="width: 300px;background-color: #fff">-->
            <!--<div style="margin-left: 1px">-->
                <!--+1-->
                <!--<div style="margin-left: 5px">-->
                    <!--+5-->
                    <!--<div style="margin-left: 8px">+8</div>-->
                    <!---->
                    <!--<div style="margin: 20px; padding: 10px">内容</div>-->
                <!--</div>-->
            <!--</div>-->
            <!---->
            <!--<div style="margin-top: 20px">-->
                <!--margin-->
                <!--<div style="margin: 10px 20px"></div>-->
            <!--</div>-->
    <!---->
            <!--<ul>-->
                <!--<li>1</li>-->
                <!--<li>1</li>-->
            <!--</ul>-->
    <!---->
            <!--<div>= .=</div>-->
        <!--</div>-->
    
        <div id="Blive" style="overflow: hidden;background-color: #ac6eff;border-radius:8px;height: 278px" title="简介由生成器生成：http://blive.Cabbagelol.net">
            <!--bj-->
            <div style=" float: left; width: 100%; height: 278px; ">
                <!--bor-->
                <div id="div" style="height: 100%;max-height: 278px;overflow: hidden">
                    <div style="float: left; position: relative; height: 100%; width: 100%; top: 0px;">
                        <!--a-->
                        <div id="Paging_one" style="width: 100%; height: 278px;overflow: hidden;display: inline-flex;">
                            <div style="
    width: 10%;
    min-width: 100px;
    position: relative;
">
                                <div style="position: absolute;overflow:hidden;border-radius:50%;border:8px solid #fff;top: calc(50% - 80px);left: calc(50% - 20px);width:160px;height:160px;">
                                    <!--头像-->
                                    <div blive-tox="-1" id="Blive-Tox" style="width: 100%;height: 100%;border-radius:50%;background-color:#fff;box-shadow:0 0 10px #1d1d1f;overflow: hidden;">
                                
                                    </div>
                                </div>
                            </div>
                            <div style="background-color:#fff;border-radius:10px;margin: 10px;padding: 10px 10px 10px 10%;box-shadow:0 4px 8px rgba(0,0,0,.34);border:1px solid #767678;width: 90%;">
                                <div style="display: inline-flex;width: 100%;height:100%;">
                                    <div style="padding: 20px;width: calc(25% - 1px);">
                                        <div style="font-weight:bold">
                                            标题
                                        </div>
                                    
                                        <p style="font-size:13px"> 请输入内容 </p>
                                    </div>
                                    <div style="background-color: #ddd;width: 1px;">
                                    </div>
                                    <div style="padding: 20px;width: calc(25% - 1px);">
                                        <div style="font-weight:bold">
                                            标题
                                        </div>
                                    
                                        <p style="font-size:13px"> 请输入内容 </p>
                                    </div>
                                    <div style="background-color: #ddd;width: 1px;">
                                    </div>
                                    <div style="padding: 20px;width: calc(25% - 1px);">
                                        <div style="font-weight:bold">
                                            标题
                                        </div>
                                    
                                        <p style="font-size:13px"> 请输入内容 </p>
                                    </div>
                                    <div style="background-color: #ddd;width: 1px;">
                                    </div>
                                    <div style="padding: 20px;width: calc(25% - 1px);">
                                        <div style="font-weight:bold">
                                            标题
                                        </div>
                                    
                                        <p style="font-size:13px"> 请输入内容 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--b-->
                        <div id="Paging_two" style="width: 100%; height: 278px;overflow: hidden;display: inline-flex;">
                            <div style="width: 100px;height: 100px;background-color: rgba(0, 0, 0, 0.18);border-radius: 50%;text-align: center;font-size: 62px;color: #fff;margin: 100px auto;">
                                +
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--该内容是作为Blive数据储存，且作为作者追踪(请务必留下)-->
    </div>

    <div id="blive-fluoroscopy">
        <!--选择器-->
        <div class="blive-fluoroscopy-selectors d1"  [style.display]="fluoroscopeShowState ? 'block' : 'none'">
            <span :class="span-angle span-angle-{{item}}" *ngFor="let item of ['lt','lb']" [style.top]="setWid(item,workbenchSelectorController, 'angle-top')" [style.left]="setWid(item,workbenchSelectorController, 'angle-left')"></span>
            <span :class="span-angle span-angle-{{item}}" *ngFor="let item of ['rt','rb']" [style.top]="setWid(item,workbenchSelectorController, 'angle-top')" [style.left]="setWid(item,workbenchSelectorController, 'angle-left')"></span>
            <span :class="span-line span-line-{{item}}" *ngFor="let item of ['t','b']" [style.top]="setWid(item,workbenchSelectorController, 'top')" [style.width]="setWid(item,workbenchSelectorController, 'width')"></span>
            <span :class="span-line span-line-{{item}}" *ngFor="let item of ['l','r']" [style.left]="setWid(item,workbenchSelectorController, 'left')" [style.height]="setWid(item,workbenchSelectorController, 'height')"></span>
            
           <!--S 外 距离容器-->
                <span class="span-margin span-margin-top" [style.top]="getDistanceRecognitionArea('-top')"  [style.height]="getDistanceRecognitionArea('+top')" [style.width]="setWid(item,workbenchSelectorController, 'width')" *ngIf="getDistanceRecognitionArea('+top')"></span>
                <span class="span-margin span-margin-left" [style.left]="getDistanceRecognitionArea('-left')" [style.height]="setWid(item,workbenchSelectorController, 'height')"  [style.width]="getDistanceRecognitionArea('+left')" *ngIf="getDistanceRecognitionArea('+left')"></span>
                <span class="span-margin span-margin-botton" [style.top]="setWid(item,workbenchSelectorController, 'height')"  [style.height]="getDistanceRecognitionArea('+top')" [style.width]="setWid(item,workbenchSelectorController, 'width')" *ngIf="getDistanceRecognitionArea('+bottom')"></span>
                <span class="span-margin span-margin-right" [style.left]="setWid(item,workbenchSelectorController, 'width')" [style.height]="setWid(item,workbenchSelectorController, 'height')" [style.width]="getDistanceRecognitionArea('+right')" *ngIf="getDistanceRecognitionArea('+right')"></span>
            <!--E 外 距离容器-->
            
            <!--S 内 距离容器-->
                <span class="span-padding span-padding-left" [style.width]="getDistanceRecognitionArea('p-left')" [style.height]="setWid(item,workbenchSelectorController, 'height')" title="{{'内边距-左:' + workbenchSelectorController.event['target']?.style.paddingLeft}}"></span>
                <span class="span-padding span-padding-top" [style.width]="setWid(item,workbenchSelectorController, 'width')" [style.height]="getDistanceRecognitionArea('p-top')" title="{{'内边距-上:' + workbenchSelectorController.event['target']?.style.paddingTop}}"></span>
                <span class="span-padding span-padding-right" [style.left]="getDistanceRecognitionArea('p-width-right')" [style.height]="setWid(item,workbenchSelectorController, 'height')" [style.width]="getDistanceRecognitionArea('p-right')" title="{{'内边距-右:' + workbenchSelectorController.event['target']?.style.paddingRight}}"></span>
                <span class="span-padding span-padding-bottom" [style.top]="getDistanceRecognitionArea('p-height-bottom')"  [style.height]="getDistanceRecognitionArea('p-bottom')" [style.width]="setWid(item,workbenchSelectorController, 'width')" title="{{'内边距-下:' + workbenchSelectorController.event['target']?.style.paddingBottom}}"></span>
            <!--E 内 距离容器-->
        </div>
        
        <!--预选器-->
        <div class="blive-fluoroscopy-preview-selectors d2" [style.display]="fluoroscopePreviewShowState ? 'block' : 'none'">
            <span style="position:absolute;top: -15px;left: 0; padding: 0px 10px; height: 15px; background: rgba(3, 155, 229, 0.4); color: #fff;font-size: 10px">{{workbenchPreviewSelectorController.nodeName}}</span>
            <span :class="span-line span-line-{{item}}" *ngFor="let item of ['t','b']" [style.top]="setWid(item,workbenchPreviewSelectorController, 'top')" [style.width]="setWid(item,workbenchPreviewSelectorController, 'width')"></span>
            <span :class="span-line span-line-{{item}}" *ngFor="let item of ['l','r']" [style.left]="setWid(item,workbenchPreviewSelectorController, 'left')" [style.height]="setWid(item,workbenchPreviewSelectorController, 'height')"></span>
        </div>
    </div>
</div>

<!--  E 工作台-->