.blive-workbench {
    background-color: #f2f2f2;
    height: 100%;
    width: 600px;
    overflow: hidden;
    cursor: grab;
}

.blive-workbench-box {
    background-color: #fff;
    position: relative;
    transform: translate(0);
    overflow: hidden;
}

.blive-workbench-box * {
    cursor: auto !important;
}