<!--  S 工作台-->
<div class="blive-workbench">
    <blive-staffgauge></blive-staffgauge>

    <div id="blive-workbench" class="blive-workbench-box">
        <div style="width: 300px;background-color: #fff">
            <div style="margin-left: 1px">
                +1
                <div style="margin-left: 5px">
                    +5
                    <div style="margin-left: 8px">+8</div>
                </div>
            </div>
    
            <ul>
                <li>1</li>
                <li>1</li>
            </ul>
    
            <div>= .=</div>
        </div>
    </div>

    <div id="blive-fluoroscopy">
        <div class="blive-fluoroscopy-selectors d1"  [style.display]="fluoroscopeShowState ? 'block' : 'none'">
            <span :class="span-angle span-angle-{{item}}" *ngFor="let item of ['lt','lb']" [style.top]="setWid(item,workbenchSelectorController, 'angle-top')" [style.left]="setWid(item,workbenchSelectorController, 'angle-left')"></span>
            <span :class="span-angle span-angle-{{item}}" *ngFor="let item of ['rt','rb']" [style.top]="setWid(item,workbenchSelectorController, 'angle-top')" [style.left]="setWid(item,workbenchSelectorController, 'angle-left')"></span>
            <span :class="span-line span-line-{{item}}" *ngFor="let item of ['t','b']" [style.top]="setWid(item,workbenchSelectorController, 'top')" [style.width]="setWid(item,workbenchSelectorController, 'width')"></span>
            <span :class="span-line span-line-{{item}}" *ngFor="let item of ['l','r']" [style.left]="setWid(item,workbenchSelectorController, 'left')" [style.height]="setWid(item,workbenchSelectorController, 'height')"></span>
        </div>
        <div class="blive-fluoroscopy-preview-selectors d2" [style.display]="fluoroscopePreviewShowState ? 'block' : 'none'">
            <span style="position:absolute;top: -15px;left: 0; padding: 0px 10px; height: 15px; background: rgba(3, 155, 229, 0.4); color: #fff;font-size: 10px">Text</span>
            <span :class="span-line span-line-{{item}}" *ngFor="let item of ['t','b']" [style.top]="setWid(item,workbenchPreviewSelectorController, 'top')" [style.width]="setWid(item,workbenchPreviewSelectorController, 'width')"></span>
            <span :class="span-line span-line-{{item}}" *ngFor="let item of ['l','r']" [style.left]="setWid(item,workbenchPreviewSelectorController, 'left')" [style.height]="setWid(item,workbenchPreviewSelectorController, 'height')"></span>
        </div>
    </div>
</div>

<!--  E 工作台-->