.blive-workbench {
    background-color: #f2f2f2;
    height: 100%;
    overflow: hidden;
    cursor: grab;
}

.blive-workbench-box {
    position: relative;
    transform: translate(0);
    overflow: hidden;
}

.blive-workbench-box * {
    cursor: auto !important;
}

/*选择器*/

#blive-fluoroscopy {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.blive-fluoroscopy-selectors {
    position: relative;
    background: rgba(0,0,0,.1);
    /*width: 100px;*/
    /*height: 20px;*/
}

.blive-fluoroscopy-selectors .span-angle {
    width: 5px;
    height: 5px;
    background: #039be5;
    display: block;
    position: absolute;
}

.span-angle-lt {
    left: 0;
    top: 0;
}
.span-angle-rt {
    right: 0;
    top: 0;
}
.span-angle-lb {
    left: 0;
    bottom: 0;
}
.span-angle-rb {
    right: 0;
    bottom: 0;
}

.blive-fluoroscopy-selectors .span-line {
    background: #039be5;
    position: absolute;
}

.span-line-t {
    width: 100%;
    height: 1px;
}
.span-line-b {
    width: 100%;
    height: 1px;
}
.span-line-l {
    width: 1px;
    height: 100%;
}
.span-line-r {
    width: 1px;
    height: 100%;
}