<!--
    * 学习与教材
-->

<!--
    * 项目管理
-->
<nz-layout class="blive-folder">
    <nz-header>
        <div class="logo"></div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" class="header-menu">
            <li nz-menu-item>仪表盘</li>
            <li nz-menu-item nzSelected>学习与教程</li>
            <li nz-menu-item>捐助</li>
            <li nz-menu-item>杰出贡献</li>
        </ul>
    </nz-header>
    <nz-content class="outer-content">
        <nz-breadcrumb>
            <nz-breadcrumb-item>学习与教程</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-layout class="inner-layout">
            <nz-content class="inner-content">
                <div class="gutter-example">
                    <div nz-row nzGutter="16">
                        <div nz-col class="gutter-row" nzSpan="6">
                            <div class="gutter-box">col-6</div>
                        </div>
                        <div nz-col class="gutter-row" nzSpan="6">
                            <div class="gutter-box">col-6</div>
                        </div>
                        <div nz-col class="gutter-row" nzSpan="6">
                            <div class="gutter-box">col-6</div>
                        </div>
                        <div nz-col class="gutter-row" nzSpan="6">
                            <div class="gutter-box">col-6</div>
                        </div>
                    </div>
                </div>
            </nz-content>
        </nz-layout>
        <nz-footer>Blive ©2017 - 2020</nz-footer>
    </nz-content>
</nz-layout>