<nz-descriptions nzTitle="快捷预览" nzBordered>
    <nz-descriptions-item nzTitle="一键保存" [nzSpan]="3">
        <nz-tag>alt</nz-tag> + <nz-tag>shift</nz-tag> + <nz-tag>s</nz-tag>
    </nz-descriptions-item>
</nz-descriptions>
<nz-descriptions nzTitle="工作台" style="margin-top: 20px;" nzBordered>
    <nz-descriptions-item nzTitle="X轴移动" [nzSpan]="3">
        <nz-tag>shift</nz-tag> + <nz-tag>鼠标滚轮</nz-tag>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Y轴移动" [nzSpan]="3">
        <nz-tag>alt</nz-tag> + <nz-tag>鼠标滚轮</nz-tag>
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="放大" [nzSpan]="3">
        <nz-tag>鼠标滚轮</nz-tag>
    </nz-descriptions-item>
</nz-descriptions>