<!--
    * 背景
    ** 属性栏内
-->

<div class="blive-background">
    <div [nzGutter]="6" nz-row>
        <div class="blive-background-bottom" nz-col nzSpan="20">
            Image & gradient
        </div>
        <div class="blive-background-title" nz-col nzSpan="4">

            <!--S add backgroundImage-->
            <div [nzPopoverContent]="contentTemplate" aria-label="Add a background image, gradient, or overlay"
                 cursor="default"
                 data-automation-id="PropertyListAddButton"
                 nz-popover
                 style="margin: 0 0 0 auto;outline: 0px; cursor: default; user-select: none; justify-self: end; grid-column-end: -1; height: 20px; width: 20px; max-height: 20px; border-style: solid; border-width: 1px; color: rgb(166, 166, 166); border-color: transparent; border-radius: 2px; padding-left: 0px; padding-right: 0px; display: flex; align-items: center; justify-content: center;"
                 tabindex="0" tooltip="Add a background image, gradient, or overlay">
                <svg aria-hidden="true" class="bem-Svg" data-icon="Add12" focusable="false" height="12"
                     style="display: block; transform: translate(0px, 0px);"
                     viewBox="0 0 12 12" width="12">
                    <path clip-rule="evenodd" d="M7 1H5v4H1v2h4v4h2V7h4V5H7V1z" fill="currentColor"
                          fill-rule="evenodd"></path>
                </svg>
            </div>

            <ng-template #contentTemplate>
                <blive-attrbute-background-type></blive-attrbute-background-type>
            </ng-template>
            <!--E add backgroundImage-->
        </div>
    </div>

    <div class="blive-background-images">
        <div *ngFor="let item of backgroundImagesList" class="blive-background-bottom blive-background-images-item">
            <div class="blive-background-item-colorblock"></div>
            <div class="blive-background-images-item-content">
                {{item}}
            </div>
        </div>
    </div>

    <nz-divider style="margin: 10px 0"></nz-divider>

    <!--S background-color-->
    <div [nzGutter]="6" nz-row>
        <div class="blive-background-bottom" nz-col nzSpan="5">
            Color
        </div>
        <div nz-col nzSpan="19">
            <nz-input-group [nzPrefix]="prefixTemplateUser" [nzSize]="'small'">
                <input [(ngModel)]="backgroundColorValue" nz-input placeholder="输入颜色值" type="text"/>
            </nz-input-group>
            <ng-template #prefixTemplateUser>
                <div *ngIf="backgroundColorValue"
                     [ngStyle]="{'background-color': backgroundColorValue}"
                     class="blive-background-item-colorblock"></div>
                <div *ngIf="!backgroundColorValue" class="blive-background-item-colorblock">
                    <svg
                            aria-hidden="true" class="bem-Svg"
                            data-icon="TransparentCheckerboardDark" focusable="false" height="21"
                            style="display: block; transform: translate(0px, 0px); color: black;"
                            viewBox="0 0 23 23"
                            width="21">
                        <path clip-rule="evenodd"
                              d="M4 0H0v4h4v4H0v4h4v4H0v4h4v4h4v-4h4v4h4v-4h4v4h4v-4h-4v-4h4v-4h-4V8h4V4h-4V0h-4v4h-4V0H8v4H4V0zm4 8V4h4v4H8zm0 4V8H4v4h4zm4 0V8h4v4h-4zm0 4v-4H8v4H4v4h4v-4h4zm4 0v4h-4v-4h4zm0 0v-4h4v4h-4zm0-8V4h4v4h-4z"
                              fill="currentColor"
                              fill-opacity=".2" fill-rule="evenodd"></path>
                    </svg>
                </div>
            </ng-template>
        </div>
    </div>
    <!--E background-color-->
</div>
