<!--
    * 背景
    ** 属性栏内
-->

<div class="blive-background">
    <div [nzGutter]="6" nz-row>
        <div class="blive-background-bottom" nz-col nzSpan="12">
            Image & gradient
        </div>
        <div>
            <div aria-label="Add a background image, gradient, or overlay" cursor="default"
                 data-automation-id="PropertyListAddButton" style="outline: 0px; cursor: default; user-select: none; justify-self: end; grid-column-end: -1; height: 20px; width: 20px; max-height: 20px; border-style: solid; border-width: 1px; color: rgb(166, 166, 166); border-color: transparent; border-radius: 2px; padding-left: 0px; padding-right: 0px; display: flex; align-items: center; justify-content: center;"
                 tabindex="0"
                 tooltip="Add a background image, gradient, or overlay">
                <svg aria-hidden="true" class="bem-Svg" data-icon="Add12" focusable="false" height="12" style="display: block; transform: translate(0px, 0px);"
                     viewBox="0 0 12 12" width="12">
                    <path clip-rule="evenodd" d="M7 1H5v4H1v2h4v4h2V7h4V5H7V1z" fill="currentColor"
                          fill-rule="evenodd"></path>
                </svg>
            </div>
        </div>
    </div>

    <div>

    </div>

    <nz-divider style="margin: 10px 0"></nz-divider>

    <!--S background-color-->
    <div [nzGutter]="6" nz-row>
        <div class="blive-background-bottom" nz-col nzSpan="12">
            Color
        </div>
        <div>
            <div>
                <div>
                    1
                </div>
                <input nz-input />
            </div>
        </div>
    </div>
    <!--E background-color-->
</div>
