<!--
    * 模板
    ** 模板商城
-->
<div class="blive-configure-window" (click)="close($event)">
    <div class="blive-configure-window-box">
        <nz-layout style="height: 100%;">
            <nz-header class="blive-configure-window-header">
                设置中心
            </nz-header>
            <nz-layout>
                <nz-sider nzTheme="light">
                    <ul nz-menu nzMode="inline" (nzClick)="onSelectMuen($event)">
                        <div *ngFor="let i of configureMuen">
                            <li nzTitle="Navigation One" nzIcon="mail" nz-menu-item nzSelected="{{i.nzSelected || false}}" *ngIf="i.list.length == 0">
                                首页
                            </li>
                            <ul *ngIf="i.list.length > 0">
                                <li nz-menu-group nzTitle="{{i.name}}">
                                    <ul>
                                        <li nzTitle="Navigation One" nzIcon="mail" nz-menu-item *ngFor="let t of i.list">
                                            {{t.name}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </ul>
                </nz-sider>

                <!--S 首页-->
                <nz-content class="blive-configure-window-overflow">
                    <div style="padding: 30px">
                        <blive-configure-account *ngIf="configureMuenSele == '账户配置'"></blive-configure-account>
                        <blive-configure-workbenchstyle *ngIf="configureMuenSele == '工作台'"></blive-configure-workbenchstyle>
                        <blive-configure-profileinformation *ngIf="configureMuenSele == '简介信息'"></blive-configure-profileinformation>
                        <blive-configure-codeview *ngIf="configureMuenSele == '代码视图'"></blive-configure-codeview>
                        <blive-configure-shortcutkeys *ngIf="configureMuenSele == '快捷键'"></blive-configure-shortcutkeys>
                        <blive-configure-about *ngIf="configureMuenSele == '关于Blive'"></blive-configure-about>
                    </div>
                </nz-content>
                <!--E 首页-->
            </nz-layout>
        </nz-layout>
    </div>
</div>

