[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}

.carousel-content {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
}

.blive-configure-window {
    padding: 20px 100px;
    position: absolute;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 11;
    top: 0;
    left: 0;
    right: 0;
}

.blive-configure-window-box {
    height: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 1px rgba(40, 120, 255, 0.08), 0 0 6px 1px rgba(0, 0, 0, 0.08);
    animation: bliveconfigurewindowbox .25s;
    overflow: hidden;
}

.blive-configure-window-overflow {
    overflow: auto;
}

@keyframes bliveconfigurewindowbox {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}