<!--
    * 属性
-->

<div class="blive-attribute">
    <div class="blive-attribute-box">
        <div class="blive-attribute-head blive-attribute-padding">
            <svg width="14" height="6" viewBox="0 0 14 6">
                <circle cx="1" cy="1" r="1" fill="#999"></circle>
                <circle cx="5" cy="1" r="1" fill="#999"></circle>
                <circle cx="9" cy="1" r="1" fill="#999"></circle>
                <circle cx="13" cy="1" r="1" fill="#999"></circle>
                <circle cx="1" cy="5" r="1" fill="#999"></circle>
                <circle cx="5" cy="5" r="1" fill="#999"></circle>
                <circle cx="9" cy="5" r="1" fill="#999"></circle>
                <circle cx="13" cy="5" r="1" fill="#999"></circle>
            </svg>
        </div>
        <nz-tabset [nzTabPosition]="'top'" [nzTabBarGutter]="'2'" [nzSize]="'small'">
            <nz-tab [nzTitle]="'基础属性'">
                <perfect-scrollbar style="height: 400px" [config]="config" [scrollIndicators]="true">
                    <div class="scrollable-content">
                        <nz-collapse [nzBordered]="false">
                            <nz-collapse-panel
                                #p
                                *ngFor="let panel of panels; let isFirst = first"
                                [nzHeader]=""
                                [nzActive]="panel.active"
                                [ngStyle]="panel.customStyle"
                                [nzExpandedIcon]="(panel.icon || expandedIcon)">
                                <div>{{ panel.name }} content</div>
                                <ng-template #expandedIcon let-active>
                                    <div style="font-size: 12px;color: #888;line-height: .4;">
                                        <i nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></i>
                                        自定义 {{panel.name}} <nz-badge nzStatus="success"></nz-badge>
                                    </div>
                                </ng-template>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </div>
                </perfect-scrollbar>
            </nz-tab>

            <nz-tab [nzTitle]="'高级属性'">
                <nz-result nzStatus="warning" nzTitle="施工中">

                </nz-result>
            </nz-tab>

            <nz-tab [nzTitle]="'设计工程'">
                <nz-result nzStatus="warning" nzTitle="施工中">

                </nz-result>
            </nz-tab>
        </nz-tabset>
    </div>
</div>