<!--
    * 项目管理
-->
<nz-layout class="blive-folder">
    <nz-header>
        <div class="logo">
            Blive
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" class="header-menu">
            <li nz-menu-item nzSelected>仪表盘</li>
            <li nz-menu-item>学习与教程</li>
            <li nz-menu-item>捐助</li>
            <li nz-menu-item>杰出贡献</li>
        </ul>
    </nz-header>
    <nz-content class="outer-content">
        <nz-breadcrumb>
            <nz-breadcrumb-item>首页</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-layout class="inner-layout">
            <nz-sider nzWidth="200px" nzTheme="light">
                <div nz-menu nzMode="inline" class="sider-menu">
                    <nz-row class="blive-folder-user-box">
                        <nz-avatar nzIcon="user" [nzSize]="100"></nz-avatar>
                    </nz-row>
                </div>
            </nz-sider>
            <nz-content class="inner-content">
                <div class="gutter-example">
                    <nz-divider nzText="简介管理" nzOrientation="left"></nz-divider>
                    <div nz-row nzGutter="16">
                        <div nz-col class="gutter-row blive-project-item" nzSpan="24" *ngFor="let item of folderList">
                            <nz-card [nzActions]="[actionEdit]">
                                <div class="blive-project-html">
                                    <div [innerHTML]="item.html"></div>
                                </div>
                            </nz-card>
                            <ng-template #actionEdit>
                                <a href="edit/?id={{item.id}}" target="_parent">
                                    <i nz-icon nzType="edit"  nzTooltipTitle="编辑" nzTooltipPlacement="top" nz-tooltip></i> 编辑
                                </a>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </nz-content>
        </nz-layout>
        <nz-footer>Blive ©2017 - 2020</nz-footer>
    </nz-content>
</nz-layout>